.DS_Store
build/
armgcc/Debug
armgcc/Release
armgcc/flexspi_nor_debug
armgcc/flexspi_nor_release
build_log.txt
CMakeCache.txt
CMakeFiles
armgcc/Makefile
demos/*/Makefile
cmake_install.cmake
output.map
armgcc/debug/
armgcc/release/
.vscode/
.cache
compile_commands.json
*.o
*.d
