[submodule "components/arduino_midi_library"]
	path = components/arduino_midi_library
	url = https://github.com/datomusic/arduino_midi_library
[submodule "libraries/tinyusb"]
	path = platform/imxrt1010/libraries/tinyusb
	url = git@github.com:hathach/tinyusb.git
[submodule "libraries/Arduino-USBMIDI"]
	path = platform/imxrt1010/libraries/Arduino-USBMIDI
	url = git@github.com:lathoub/Arduino-USBMIDI.git
[submodule "libraries/duo-firmware"]
	path = platform/imxrt1010/libraries/duo-firmware
	url = git@github.com:datomusic/duo-firmware.git
