[submodule "components/arduino_midi_library"]
	path = components/arduino_midi_library
	url = https://github.com/datomusic/arduino_midi_library
[submodule "platform/brains1/libraries/MIDI"]
	path = platform/brains1/libraries/MIDI
	url = https://github.com/FortySevenEffects/arduino_midi_library
